<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slug Club Wordmark Generator</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="icon" type="xml/svg" href="static/favicon.svg">
</head>
<body>
    <div id="app">
        <div class="left-bar"> 
            <color-selector fg="#ffffff" bg="#000000"></color-selector>
            <color-selector fg="#000000" bg="#ffffff"></color-selector>
            <color-selector fg="#E9F411" bg="#283832"></color-selector>
            <color-selector fg="#CFD1BA" bg="#283832"></color-selector>
            <color-selector fg="#283832" bg="#CFD1BA"></color-selector>
            <color-selector fg="#F5DDDC" bg="#C23A32"></color-selector>
            <color-selector fg="#C23A32" bg="#F5DDDC"></color-selector>
            <color-selector fg="#D9DCDE" bg="#317F82"></color-selector>
            <color-selector fg="#317F82" bg="#D9DCDE"></color-selector>
            <color-selector fg="#E5D5C8" bg="#AD8500"></color-selector>
            <color-selector fg="#AD8500" bg="#E5D5C8"></color-selector>
        </div>

        <div class="middle">
            <div id="top-controls" class="section">
                <sliders class="input-group" v-model="slug"></sliders>
                <sliders class="input-group" v-model="club"></sliders>
            </div>
            <div id="preview" class="section">
                <img id="preview-wordmark" :src="currentSVG">
            </div>
            <div id="bottom-controls" class="section">
                <div class="input-group">
                    <button @click="randomizeWeights">Randomize</button>
                    <button @click="createThumbnail">Save</button>
                </div>
            </div>
        </div>

        <div class="thumbnail-grid">

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="scripts/fontkit.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>