<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div id="controls" class="section">
            <div class="input-group">
                <button class="color-selector" @click="setColors('#fff', '#000')"></button>
                <button class="color-selector" id="inverted" @click="setColors('#000', '#fff')"></button>
                <button class="color-selector" id="original" @click="setColors('#283832', '#CFD1BA')"></button>
                <button class="color-selector" id="original-inverted" @click="setColors('#CFD1BA', '#283832')"></button>
                <button class="color-selector" id="frambuesa" @click="setColors('#C23A32', '#F5DDDC')"></button>
                <button class="color-selector" id="frambuesa-inverted" @click="setColors('#F5DDDC', '#C23A32')"></button>
                <button class="color-selector" id="flores" @click="setColors('#317F82', '#D9DCDE')"></button>
                <button class="color-selector" id="flores-inverted" @click="setColors('#D9DCDE', '#317F82')"></button>
                <button class="color-selector" id="jengibre" @click="setColors('#AD8500', '#E5D5C8')"></button>
                <button class="color-selector" id="jengibre-inverted" @click="setColors('#E5D5C8', '#AD8500')"></button>
            </div>
            <sliders class="input-group" v-model="slug"></sliders>
            <sliders class="input-group" v-model="club"></sliders>
            <div class="input-group">
                <button @click="randomizeWeights">Randomize</button>
                <button @click="genSVG">Save</button>
            </div>
        </div>
        <hr>
        <div id="preview" class="section">
            <div class="t1 target">
              <span v-bind:style="'font-variation-settings: \'wdth\' ' + (slug[0] * 14.4)">S</span>
              <span v-bind:style="'font-variation-settings: \'wdth\' ' + (slug[1] * 14.4)">L</span>
              <span v-bind:style="'font-variation-settings: \'wdth\' ' + (slug[2] * 14.4)">U</span>
              <span v-bind:style="'font-variation-settings: \'wdth\' ' + (slug[3] * 14.4)">G</span>
              <br>
              <span v-bind:style="'font-variation-settings: \'wdth\' ' + (club[0] * 14.4)">C</span>
              <span v-bind:style="'font-variation-settings: \'wdth\' ' + (club[1] * 14.4)">L</span>
              <span v-bind:style="'font-variation-settings: \'wdth\' ' + (club[2] * 14.4)">U</span>
              <span v-bind:style="'font-variation-settings: \'wdth\' ' + (club[3] * 14.4)">B</span>
            </div>
        </div>
        <hr>
        <div class="thumbnail-grid">

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>