@font-face {
    font-family: 'SLUG';
    /* font-style: normal; */
    /* font-weight: 0 900; */
    src:    url(SLUGVariableVF.woff2) format("woff2"),
            url(SLUGVariableVF.ttf) format('truetype');
}

:root {
    /* --bg-color: #283832;
    --main-color: #CFD1BA; */

    --neutral-light: #efefef;
    --neutral-mid: #cfcfcf;
    --neutral-dark: #222;

    --fg-color: #fff;
    --bg-color: #000;

    --hightlight: #E9F411;

    --horizontal-padding: 8%;

    --main-padding: 1.5rem;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--neutral-light);
}

#app {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}

.left-bar {
    /* width: 100px; */
    padding: var(--main-padding);
    height: 100%;
    overflow-y: scroll;
    flex-shrink: 0;
    background-color: var(--bg-color); 
    border-right: 1px solid var(--fg-color);
    /* border-right: 1px solid var(--neutral-dark); */
}

.middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.thumbnail-grid {
    width: 20%;
    max-width: 25rem;
    padding: var(--main-padding);
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    /* border-left: 1px solid var(--neutral-dark);
    background-color: var(--neutral-light); */

    border-left: 1px solid var(--fg-color);
    background-color: var(--bg-color);
}

.thumbnail {
    width: 100%;
    min-width: 120px;
    margin-bottom: var(--main-padding);
    border-radius: 20px;
    padding: 15px;
    border: 1px solid var(--fg-color);
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: var(--main-padding);
}

#top-controls {
    /* border-bottom: 1px solid var(--neutral-dark); */
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--fg-color);
}

#bottom-controls {
    /* border-top: 1px solid var(--neutral-dark); */

    background-color: var(--bg-color);
    border-top: 1px solid var(--fg-color);
}

#preview {
    /* min-height: 60vh;
    padding-top: 40px;
    padding-bottom: 40px; */
    flex-grow: 1;
    background-color: var(--bg-color);
}

#preview-wordmark {
    width: min(90%, 600px);
}

hr {
    border-color: var(--neutral-dark);
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-group button:not(:last-child) {
    margin-right: var(--main-padding);
}

.input-group:not(.input-group:last-child) {
    margin-bottom: var(--main-padding);
}

button {
    font-size: 12pt;
    border: none;
    /* color: var(--neutral-light); */
    font-weight: bold;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    padding: 15px 25px;
    border-radius: 50px;
    /* background-color: var(--neutral-dark); */
    background-color: var(--fg-color);
    color: var(--bg-color);
    cursor: pointer;
    border: 1px solid var(--fg-color);
}

button.color-selector {
    --fgColor: black;
    --bgColor: white;

    position: relative;
    display: block;
    width: 46px;
    height: 46px;
    background-color: var(--bgColor);
    /* border: 2px solid var(--hightlight); */
    margin: 0;
    padding: 0;
    margin-bottom: var(--main-padding);
}

button.color-selector:last-child {
    margin-bottom: 0;
}

button.color-selector::after {
    position: absolute;
    content: '';
    display: block;
    width: 40%;
    height: 40%;
    left: 30%;
    top: 30%;
    border-radius: 6px;
    background-color: var(--fgColor);
}


/* ------ INPUT ------ */

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    margin-bottom: 10px;
}

input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
}

input[type=range]:focus {
outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
width: 100%;
cursor: pointer;

/* Hides the slider so custom styles can be added */
background: transparent; 
border-color: transparent;
color: transparent;
}

/* --- */

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    /* border: 4px solid var(--bg-color); */
    /* background: var(--neutral-dark); */
    background: var(--fg-color);
    cursor: pointer;
    margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    /* background: var(--neutral-dark); */
    background: var(--fg-color);
    cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    /* background: var(--neutral-dark); */
    background: var(--fg-color);
    cursor: pointer;
}

/* --- */

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    /* background: var(--neutral-dark); */
    background: var(--fg-color);
    border-radius: 4px;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    /* background: var(--neutral-dark); */
    background: var(--fg-color);
    border-radius: 4px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    width: 100%;
    height: 6px;
    cursor: pointer;
    /* background: var(--neutral-dark); */
    background: var(--fg-color);
    border-radius: 4px;
}
input[type=range]::-ms-fill-upper {
    width: 100%;
    height: 6px;
    cursor: pointer;
    /* background: var(--neutral-dark); */
    background: var(--fg-color);
    border-radius: 4px;
}